@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');


.hidden {
    display: none;
}

body {
    font-family: 'Playwrite GB S', sans-serif;
    line-height: 1.5;
    color: #333;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: #222;
}

a {
    color: #222;
    text-decoration: none;
    transition: all 0.3s;
}

h6 {
    color: white;
    text-decoration: underline overline red;
    text-underline-offset: 8px;
}

.nav-link:hover {
    color: #f00;
}

img {
    width: 100%;
}

.btn {
    border-radius: 25px;
    padding: 16px 32px;
}

.btn-brand {
    color: #222;
    font-weight: 700px;
    border: 1px solid #f00;
    background: white;
}

.btn-brand:hover {
    color: white;
    background-color: #f00;
    border: 1px solid #222;
}
/* carousel */

.slide-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/slide1.webp);
    
}
.slide-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/slide2.webp);
   
}
.slide-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/slide3.jpg);

}
.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-control-next, .carousel-control-prev {
    background-color: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50vh;
    margin: auto;
}

section {
    padding-top: 150px;
    padding-bottom: 150px;
}
.shadow-on-hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.shadow-on-hover:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

/*divider*/
#about .divider {
    width: 200px;
    height: 5px;
    background-color: #f00;
    margin: 50px auto;
}

/*intro text*/
.intro-text {
    margin-bottom: 50px;
    text-align: center;
}

.intro-text p {
    max-width: 700px;
    margin: 20px auto 0 auto;
}

/*Menu*/
#menu .nav-pills .nav-link {
    background-color: fff;
    margin-left: 15px;
    margin-right: 15px;
    color: #222;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.986);
}

#menu .nav-pills .nav-link.active {
    background-color: #f00;
    color: white;
    border-radius: 50%;
}

.menu-item {
    margin-bottom: 50px;
}
.menu-item img {
    width: 100%;
    border-radius: 10px;
}